{% meta {
    "isChildOnly": true,
    "defaults": {
        "password": "password",
        "class": ""
    }
} %}
<button class="{{ class }} flex justify-center p-2 shadow-sm rounded self-stretch text-xs whitespace-nowrap bg-gradient-to-b from-white to-[#eef0f2] hover:from-gray-600 hover:to-gray-700 hover:text-white dark:from-gray-700 dark:to-gray-800 dark:text-white dark:hover:bg-gray-600 transition-colors motion-reduce:transition-none"
    type="button" onclick="generatePassword('{{ password }}','repeat_password');"
    {% render '../util/merge-attributes' %}>
    {{ generate_password_txt }}
</button>
