<button class="flex justify-center p-2 shadow-sm rounded self-stretch text-xs bg-gradient-to-b from-white to-[#eef0f2] hover:from-[#fafafa] hover:to-[#e8ebee]"
    type="button" onclick="generatePassword('{{ password }}','repeat_password');">
    {{ generate_password_txt }}
</button>
