<a class='flex justify-center p-2 shadow-sm rounded self-stretch font-bold text-xs cursor-pointer hover:shadow-sm bg-gradient-to-b from-white to-[#eef0f2] hover:from-[#fafafa] hover:to-[#e8ebee]'
    {% for attribute in attributes %}
    {{ attribute[0] }}="{{ attribute[1] }}"
    {% endfor %}>
    {{ slot }}
</a>
