<button class="group flex justify-center items-center min-h-6 px-2 rounded self-stretch font-bold text-xs cursor-pointer shadow hover:shadow-lg bg-gradient-to-b from-white to-[#eef0f2] hover:text-white hover:from-gray-600 hover:to-gray-700 transition-colors motion-reduce:transition-none"
    {% for attribute in attributes %}
    {{ attribute[0] }}="{{ attribute[1] }}"
    {% endfor %}>
    {{ slot }}
</button>
