<button class="group flex justify-center items-center min-h-10 px-4 rounded self-stretch font-bold text-xs cursor-pointer shadow hover:shadow-lg bg-gradient-to-b from-emerald-300 to-emerald-400 hover:from-emerald-200 hover:to-emerald-300"
    {% for attribute in attributes %}
    {{ attribute[0] }}="{{ attribute[1] }}"
    {% endfor %}>
    {{ slot }}
</button>
