			<div class="form-group">
                <label class="col-sm-3 control-label"><em>*</em> {{ email_txt }}</label>
                <div class="col-sm-9">
				    <div class='input-group'>
						<input type="text" id="email_local_part" name="email_local_part" value="{{ email_local_part }}" class="form-control" />
						<span class='input-group-addon'>@</span>
                        <div class='input-group-field'>
							<select name="email_domain" id="email_domain" class="form-control" style="height:50px;min-width:170px;">{{ email_domain }}</select>
                        </div>
                    </div>
				</div>
            </div>
            <div class="form-group">
                <label for="destination" class="col-sm-3 control-label">{{ destination_txt }}</label>
                <div class="col-sm-9"><select name="destination" id="destination" class="form-control">
                    {{ destination }}
                </select></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ send_as_txt }}</label>
                <div class="col-sm-9">
                    {{ allow_send_as }} <small> {{ send_as_exp }}</small>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ greylisting_txt }}</label>
                <div class="col-sm-9">
                    {{ greylisting }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ active_txt }}</label>
                <div class="col-sm-9">
                    {{ active }}
                </div>
            </div>

        <input type="hidden" name="id" value="{{ id }}">
        <input type="hidden" name="type" value="alias">

        <div class="clear">
            <tmpl_if name='id'><tmpl_if name='show_delete_on_forms' op="==" value="y">
                <a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('mail/mail_alias_del.php?id={{ id }}&_csrf_id={{ _csrf_id }}&_csrf_key={{ _csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span class="icon icon-delete"></span></a>
            </tmpl_if></tmpl_if>
            <div class="right">
                <button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="mail/mail_alias_edit.php">{{ btn_save_txt }}</button>
                <button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="mail/mail_alias_list.php">{{ btn_cancel_txt }}</button>
            </div>
        </div>
