            <div class="form-group">
                <label for="custom_mailfilter" class="col-sm-3 control-label">{{ custom_mailfilter_txt }}</label>
                <div class="col-sm-9"><textarea class="form-control" name="custom_mailfilter" id="custom_mailfilter" rows='15' cols='30'>{{ custom_mailfilter }}</textarea></div>
            </div>
        

        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'mail/mail_user_list.php', save_form_action: 'mail/mail_user_edit.php' %}
