            <div class="form-group">
                <label for="destination" class="col-sm-3 control-label">{{ source_txt }}</label>
                <div class="col-sm-9"><select name="source" id="source" class="form-control" autofocus>
                    {{ source_domain }}
                </select></div>
            </div>
            <div class="form-group">
                <label for="destination" class="col-sm-3 control-label">{{ destination_txt }}</label>
                <div class="col-sm-9"><select name="destination" id="destination" class="form-control">
                    {{ destination_domain }}
                </select></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ active_txt }}</label>
                <div class="col-sm-9">
                    {{ active }}
                </div>
            </div>
        

        <input type="hidden" name="id" value="{{ id }}">
        <input type="hidden" name="type" value="aliasdomain">

        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="mail/mail_aliasdomain_edit.php">{{ btn_save_txt }}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="mail/mail_aliasdomain_list.php">{{ btn_cancel_txt }}</button>
        </div></div>
