<div class='page-header'>
	<h1 class="text-4xl pb-4 border-b">{{ list_head_txt }}</h1>
</div>
<p>{{ list_desc_txt }}</p>


        <tmpl_if name='datalog_changes_count' op='>' value='0'>
        <div>
            <div class="systemmonitor-state state-info">
                <div class="status"></div>
                <div class="statusMsg">
                    {{ datalog_changes_txt }}
                    <ul>
                    <tmpl_loop name="datalog_changes">
                        <li><strong>{{ text }}:</strong> {{ count }}</li>
                    </tmpl_loop>
                    </ul>
                    {{ datalog_changes_end_txt }}
                </div>
            </div><br />
        </div>
        </tmpl_if>
        <p class="fieldset-legend">{{ toolsarea_head_txt }}</p>
            
                <button class="btn btn-default formbutton-success" type="button" data-load-content="mail/mail_alias_edit.php">{{ add_new_record_txt }}</button>
            
        

    
        <p class="fieldset-legend">{{ list_head_txt }}</p>
            <div class="table-wrapper marginTop15">
<table class='table w-full'>
                <thead class="dark">
                    <tr>
                        <th class="tiny-col" data-column="active">{{ active_txt }}</th>
                        <th data-column="source">{{ source_txt }}</th>
                        <th data-column="destination">{{ destination_txt }}</th>
                        <th class="small-col text-right">{{ search_limit }}</th>
                    </tr>
                    <tr>
                        <td><select class="form-control" name="search_active">{{ search_active }}</select></td>
                        <td><input class="form-control" type="text" name="search_source" value="{{ search_source }}" /></td>
                        <td><input class="form-control" type="text" name="search_destination" value="{{ search_destination }}" /></td>
                        <td class="text-right">
                            <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{{ filter_txt }}" data-submit-form="pageForm" data-form-action="mail/mail_alias_list.php"><span class="icon icon-filter"></span></button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tmpl_loop name="records">
                        <tr>
                            <td><a href="#" data-load-content="mail/mail_alias_edit.php?id={{ id }}">{{ active }}</a></td>
                            <td><a href="#" data-load-content="mail/mail_alias_edit.php?id={{ id }}">{{ source }}</a></td>
                            <td><a href="#" data-load-content="mail/mail_alias_edit.php?id={{ id }}">{{ destination }}</a></td>
                            <td class="text-right">
                                <a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('mail/mail_alias_del.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span class="icon icon-delete"></span></a>
                            </td>
                        </tr>
                    </tmpl_loop>
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                            <td colspan="4">{{ globalsearch_noresults_text_txt }}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">{{ paging }}</td>
                    </tr>
                </tfoot>
            </table>
</div>
        
    