<div class='page-header'>
	<h1 class="text-4xl pb-4 border-b">{{ list_head_txt }}</h1>
</div>
<p>{{ list_desc_txt }}</p>


        <fieldset id="wf_area_spamfilter_config">
            <span class="wf_oneField">
                <label for="getmail_config_dir" class="col-sm-3 control-label">{{ getmail_config_dir_txt }}</label>
                <div class="col-sm-9"><input class="form-control" type="text" id="getmail_config_dir" name="getmail_config_dir" value="{{ getmail_config_dir }}"></div></span>
        </fieldset>

        <input type="hidden" name="id" value="{{ id }}">

        <div class="wf_actions buttons">
            <button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="mail/spamfilter_config_edit.php">{{ btn_save_txt }}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="mail/spamfilter_config_list.php">{{ btn_cancel_txt }}</button>
        </div>