<div class='page-header'>
	<h1 class="text-4xl pb-4 border-b">
        {{ list_head_txt }}
    </h1>
</div>


<p class="fieldset-legend">
    {{ list_head_txt }}
</p>
<div class="table-wrapper marginTop15">
    <table class='table w-full'>
        <thead class="dark">
            <tr>
                <th data-column="email">
                    {{ email_txt }}
                </th>
                <th data-column="name">
                    {{ name_txt }}
                </th>
                <th data-column="used_sort">
                    {{ used_txt }}
                </th>
                <th data-column="quota">
                    {{ quota_txt }}
                </th>
                <th data-column="percentage_sort">
                    {{ percentage_txt }}
                </th>

                <th class="small-col text-right">{{ search_limit }}</th>
            </tr>
            <tr>
                <td><input class="form-control" type="text" name="search_email"
                        value="{{ search_email }}" /></td>
                <td><input class="form-control" type="text" name="search_name" value="{{ search_name }}" />
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="text-right">
                    <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter"
                        id="Filter" value="{{  filter_txt }}" data-submit-form="pageForm"
                        data-form-action="mail/user_quota_stats.php"><span class="icon icon-filter"></span></button>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for records %}
                <tr>
                    <td><a href="#" data-toggle="tooltip" data-placement="auto" title='{{ email }}' data-load-content="mail/mail_user_edit.php?id={{ id }}">{{ email }}</a></td>
                    <td><a href="#" data-load-content="mail/mail_user_edit.php?id={{ id }}">{{ name }}</a></td>
                    <td><a href="#" data-load-content="mail/mail_user_edit.php?id={{ id }}">{{ used }}</a></td>
                    <td><a href="#" data-load-content="mail/mail_user_edit.php?id={{ id }}">{{ quota }}</a></td>
                    <td colspan="2">
                        {tmpl_if name="quota" op="!=" value="0"}<div class="progress" style="height: 20px">
                            <div class='progress-bar-striped progress-bar-{tmpl_if name="percentage_sort" op="<" value="50"}success{tmpl_elseif name="percentage_sort" op="<" value="75"}warning{tmpl_else}danger{/tmpl_if}'
                                role="progressbar" style="width: {{ progressbar }}%;"
                                aria-valuenow="{{  percentage }}" aria-valuemin="0" aria-valuemax="100">
                                <span>{{ percentage }}</span</div>
                        </div>{/tmpl_if}
                    </td>

                </tr>
            {% endfor %}
            <tmpl_unless name="records">
                <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                    <td colspan="6">{{ globalsearch_noresults_text_txt }}</td>
                </tr>
            </tmpl_unless>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    {{ paging }}
                </td>
            </tr>
        </tfoot>
    </table>
</div>

</div>