<div class='page-header'>
  <h1 class="text-4xl pb-4 border-b">{{ welcome_user }}xx</h1>
</div>

<tmpl_if name='error'>
	<div class="alert alert-danger">
		{% for error %}
			{{ error_msg }}
		{% endfor %}
	</div>
</tmpl_if>
<tmpl_if name='warning'>
	<div class="alert alert-danger">
		{% for warning %}
			{{ warning_msg }}
		{% endfor %}
	</div>
</tmpl_if>
<tmpl_if name='info'>
	<div class="alert alert-notification">
		{% for info %}
			{{ info_msg }}
		{% endfor %}
	</div>
</tmpl_if>

{% for leftcol %}
	{{ content }}
{% endfor %}
{% for rightcol %}
	{{ content }}
{% endfor %}
