<div class='page-header'>
  <h1 class="text-4xl pb-4 border-b">{{ welcome_user }}xx</h1>
</div>

<tmpl_if name='error'>
	<div class="alert alert-danger">
		<tmpl_loop name="error">
			{{ error_msg }}
		</tmpl_loop>
	</div>
</tmpl_if>
<tmpl_if name='warning'>
	<div class="alert alert-danger">
		<tmpl_loop name="warning">
			{{ warning_msg }}
		</tmpl_loop>
	</div>
</tmpl_if>
<tmpl_if name='info'>
	<div class="alert alert-notification">
		<tmpl_loop name="info">
			{{ info_msg }}
		</tmpl_loop>
	</div>
</tmpl_if>

<tmpl_loop name='leftcol'>
	{{ content }}
</tmpl_loop>
<tmpl_loop name='rightcol'>
	{{ content }}
</tmpl_loop>
