	<div style="background-color:#FFFFFF;padding:1em;">
		<h4>{{ donate_txt }}<button type="button" class="btn btn-link btn-xs">{{ more_btn_txt }}</button></h4>
		<p id="description">{{ donate2_txt }}<p>
		<p style="text-align:right;">
			<a href="#" class="btn btn-default" data-load-content="dashboard/dashboard.php?hide=donate">{{ hide_btn_txt }}</a>
			<a href="https://www.ispconfig.org/donation/" target="_blank" class="btn btn-success">{{ donate_btn_txt }}</a>
		</p>
		
	</div>
<script>
$(document).ready(function(){
    $("#description").toggle();
	$("button").click(function(){
        $("#description").toggle();
    });
});
</script>
	
