            <div class="form-group">
                <label for="hfs_name" class="col-sm-3 control-label">{{ faq_section_name_txt }}</label>
                <div class="col-sm-9"><input type="text" name="hfs_name" id="hfs_name" value="{{ hfs_name }}" class="form-control" /></div></div>
        

        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'help/faq_sections_list.php', save_form_action: 'help/faq_sections_edit.php' %}
