<div class='page-header'>
	<h1 class="text-4xl pb-4 border-b">{{ list_head_txt }}</h1>
</div>
<p>{{ list_desc_txt }}</p>


    <p class="fieldset-legend">{{ toolsarea_head_txt }}</p>
      
        <button class="btn btn-default formbutton-success" type="button" data-load-content="client/client_template_edit.php">{{ add_new_record_txt }}</button>
      
    

    
        <p class="fieldset-legend">{{ list_head_txt }}</p>
            <div class="table-wrapper marginTop15">
<table class='table w-full'>
                <thead class="dark">
                    <tr>
                        <th data-column="template_id">{{ template_id_txt }}</th>
						{% if is_admin %}<th data-column="sys_groupid">{{ sys_groupid_txt }}</th>{% endif %}
                        <th data-column="template_type">{{ template_type_txt }}</th>
                        <th data-column="template_name">{{ template_name_txt }}</th>
                        <th class="small-col text-right">{{ search_limit }}</th>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" name="search_template_id" value="{{ search_template_id }}" /></td>
						{% if is_admin %}<td><select class="form-control" name="search_sys_groupid">{% endif %}
                        <td><select class="form-control" name="search_template_type">{{ search_template_type }}</select></td>
                        <td><input class="form-control" type="text" name="search_template_name" value="{{ search_template_name }}" /></td>
                        <td class="text-right">
                            <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{{ filter_txt }}" data-submit-form="pageForm" data-form-action="client/client_template_list.php"><span class="icon icon-filter"></span></button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for records %}
                        <tr>
                            <td><a href="#" data-load-content="client/client_template_edit.php?id={{ id }}">{{ template_id }}</a></td>
							{% if is_admin %}<td><a href="#" data-load-content="client/client_template_edit.php?id={{ id }}">{{ sys_groupid }}</a></td>{% endif %}
                            <td><a href="#" data-load-content="client/client_template_edit.php?id={{ id }}">{{ template_type }}</a></td>
                            <td><a href="#" data-load-content="client/client_template_edit.php?id={{ id }}">{{ template_name }}</a></td>
                            <td class="text-right">
                                <a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('client/client_template_del.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span class="icon icon-delete"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults tbl_row_{% if __EVEN__ %}even{% else %}uneven{% endif %}">
                            {% if is_admin %}<td colspan="5">{% else %}<td colspan="4">{% endif %}{{ globalsearch_noresults_text_txt }}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>
                <tfoot>
                    <tr>
                        {% if is_admin %}<td colspan="5">{% else %}<td colspan="4">{% endif %}{{ paging }}</td>
                    </tr>
                </tfoot>
            </table>
</div>
        
    
