<div class='page-header'>
	<h1 class="text-4xl pb-4 border-b">{{ list_head_txt }} {{ contactname }}</h1></div>
<tmpl_if name='number_records'>
	{{ delete_explanation }}:<br /><br />
	<div class="table-wrapper marginTop15">
		<table class='table w-full'>
		<thead class="dark">
			<tr>
				<th class="tiny-col">{{ table_txt }}</th>
				<th class="tiny-col">{{ data_txt }}</th>
			</tr>
		</thead>
		<tbody>
		{% for records %}
			<tr>
				<td>{{ table }} ({{ count }})</td>
				<td>{{ data }}</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
</tmpl_else>
	<h3>{{ confirm_client_delete_txt }}</h3>
</tmpl_if>
&nbsp;
<div> <input type="checkbox" name="confirm" value="yes" /> <b>{{ confirm_action_txt }}</b></div>
&nbsp;
<input type="hidden" name="id" value="{{ id }}">
<div class="clear"><div class="left">
	<button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="client/client_del.php">{{ btn_save_txt }}</button>
	<button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="client/client_list.php">{{ btn_cancel_txt }}</button>
</div></div>
