<tmpl_loop name="nav_left">
	<tmpl_if name="title"><header><tmpl_if name="is_link" op="!=" value="no"><tmpl_if name="startpage"><a href="#" class="subnav-header" data-load-content="{{ startpage }}"></tmpl_if></tmpl_if>{{ title }}<tmpl_if name="is_link" op="!=" value="no"><tmpl_if name="startpage"></a></tmpl_if></tmpl_if></header></tmpl_if>
	<ul id="sub-navigation">
	  <tmpl_loop name="items">
	  <li<tmpl_if name="html_id"> id='{{ html_id }}' </tmpl_if>>
		<tmpl_if name="link">
			<tmpl_if name="target" op="==" value="_blank">
				<a href="{{ link }}" target="_blank">
			<tmpl_elseif name="target" op="==" value="_top">
				<a href="{{ link }}" target="_top">
			<tmpl_else>
				<a href="#" data-load-content="{{ link }}">
			</tmpl_if>
		</tmpl_if>
		  <div{tmpl_if name="css"} style="{{ css }}"{/tmpl_if}>
			<tmpl_if name="title"><strong>{{ title }}</strong></tmpl_if>
			<tmpl_if name="image"><div align="center">{{ image }}</div></tmpl_if>
		  </div>
		<tmpl_if name="link">
		</a>
		</tmpl_if>
	  </li>
	  </tmpl_loop>
	</ul>
</tmpl_loop>
