	<tmpl_if name="form_hint">
		<div class='page-header'>
			<h1 class="text-4xl pb-4 border-b">{{ form_hint }}</h1>
		</div>
	</tmpl_if>
	<tmpl_if name="msg">
		<div class='alert alert-notification'>{{ msg }}</div>
	</tmpl_if>
	<tmpl_if name="error">
		<div class='alert alert-danger clear'>
			<div class='alert-label'><strong>
					{{ error_txt }}
				</strong></div>
			<div class='alert-content'>
				<ul style="list-style-type:none">
					{{ error }}
				</ul>
			</div>
		</div>
	</tmpl_if>

	<!-- content in tabs -->
	<div class='content-tab-wrapper'>
		<!-- tabs -->
		<ul class='nav nav-tabs'>
			<tmpl_loop name="formTab">
				<li<tmpl_if name="active"> class='active'</tmpl_if>>
					<a href='#' onclick="return ISPConfig.changeTab('{{ name }}','{{ app_module }}/{{ form_action }}')">
						{{ title }}
					</a>
					</li>
			</tmpl_loop>
		</ul>

		<div id="tabbox_content" class="tab-content">
			<div class='tab-pane active fade in'>
				<tmpl_dyninclude name="content_tpl">
			</div>
		</div>

		<input type="hidden" name="_csrf_id" value="{{ _csrf_id }}" />
		<input type="hidden" name="_csrf_key" value="{{ _csrf_key }}" />
		<input type="hidden" name="next_tab" value="">
		<input type="hidden" name="phpsessid" value="{{ phpsessid }}">
	</div>
