	<!-- main navigation -->
	<nav id="main-navigation" class="grid grid-flow-row-dense grid-cols-3 md:grid-cols-6 lg:grid-cols-9 rounded border bg-gradient-to-b border-gray-300 from-white to-[#eef0f2]">
    {% loop nav_top %}
		<a href="#" class="flex flex-col justify-center items-center first:rounded-l last:rounded-r px-4 py-2 transition-all motion-reduce:transition-none bg-gradient-to-b hover:text-white hover:from-gray-700 hover:to-gray-800 {% if active %}active shadow-inner text-white from-gray-600 to-gray-700{% else %}text-black{% endif %}" data-capp="{{ module }}" data-icon-class="icon-{{ module }}">
		  <div class="icon icon-{{ module }}"></div>
		  <div class="title">{{ title }}</div>
		</a>
    {% endloop %}
	</nav>
