        {% unless records %}
        <tr class="tbl_row_noresults tbl_row_{% if __EVEN__ %}even{% else %}uneven{% endif %}">
            <td colspan="{% if has_robot %}10{% else %}9{% endif %}"
                class="text-center py-8">{{ globalsearch_noresults_text_txt }}</td>
        </tr>
        {% endunless %}
    </tbody>
    <tfoot class="bg-gray-50 rounded-b dark:bg-gray-800">
        <tr>
            <td colspan="{% if has_robot %}10{% else %}9{% endif %}"
                class="text-center">{{ paging }}</td>
        </tr>
    </tfoot>
</table>
