{% unless records %}
<tr class="tbl_row_noresults tbl_row_{% if __EVEN__ %}even{% else %}uneven{% endif %}">
    <td colspan="{{ colspan }}"
        class="text-center py-8">{{ globalsearch_noresults_text_txt }}</td>
</tr>
{% endunless %}