<div class="flex flex-col gap-4"
    data-foo="bar"
    data-bar="baz"
    wire:ignore
    @click="console.log('clicked')">
    {% render './render-basic-sub.liquid', slot: '{{ SLOT_VARIABLE }}' %}
</div>
