<div class='page-header'>
	<h1 class="text-4xl pb-4 border-b">{{ list_head_txt }}</h1>
</div>


        <p class="fieldset-legend">{{ toolsarea_head_txt }}</p>
            
                <button class="btn btn-default formbutton-success" type="button" data-load-content="admin/server_ip_edit.php">{{ add_new_record_txt }}</button>
            
        

    
        <p class="fieldset-legend">{{ list_head_txt }}</p>
            <div class="table-wrapper marginTop15">
<table class='table w-full'>
                <thead class="dark">
                    <tr>
                        <th data-column="server_id">{{ server_id_txt }}</th>
                        <th class="small-col" data-column="client_id">{{ client_id_txt }}</th>
                        <th data-column="ip_type">{{ ip_type_txt }}</th>
                        <th data-column="ip_address">{{ ip_address_txt }}</th>
                        <th data-column="virtualhost">{{ virtualhost_txt }}</th>
                        <th data-column="virtualhost_port">{{ virtualhost_port_txt }}</th>
                        <th class="text-right">{{ search_limit }}</th>
                    </tr>
                    <tr>
                        <td><select class="form-control" name="search_server_id">{{ search_server_id }}</select></td>
                        <td><select class="form-control" name="search_client_id">{{ search_client_id }}</select></td>
                        <td><select class="form-control" name="search_ip_type">{{ search_ip_type }}</select></td>
                        <td><input class="form-control" type="text" name="search_ip_address" value="{{ search_ip_address }}" /></td>
                        <td><select class="form-control" name="search_virtualhost">{{ search_virtualhost }}</select></td>
                        <td><input class="form-control" type="text" name="search_virtualhost_port" value="{{ search_virtualhost_port }}" /></td>
                        <td class="text-right">
                            <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{{ filter_txt }}" data-submit-form="pageForm" data-form-action="admin/server_ip_list.php"><span class="icon icon-filter"></span></button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for records %}
                        <tr>
                            <td><a href="#" data-load-content="admin/server_ip_edit.php?id={{ id }}" data-toggle="tooltip" data-placement="bottom" title="{{ server_id }}">{{ server_id }}</a></td>
                            <td><a href="#" data-load-content="admin/server_ip_edit.php?id={{ id }}" data-toggle="tooltip" data-placement="bottom" title="{{ client_id }}">{{ client_id }}</a></td>
                            <td><a href="#" data-load-content="admin/server_ip_edit.php?id={{ id }}">{{ ip_type }}</a></td>
                            <td><a href="#" data-load-content="admin/server_ip_edit.php?id={{ id }}" data-toggle="tooltip" data-placement="bottom" title="{{ ip_address }}">{{ ip_address }}</a></td>
                            <td><a href="#" data-load-content="admin/server_ip_edit.php?id={{ id }}">{{ virtualhost }}</a></td>
                            <td><a href="#" data-load-content="admin/server_ip_edit.php?id={{ id }}">{{ virtualhost_port }}</a></td>
                            <td class="text-right">
                                <a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('admin/server_ip_del.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span class="icon icon-delete"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tmpl_unless name="records">
                        <tr class="tbl_row_noresults tbl_row_{% if __EVEN__ %}even{% else %}uneven{% endif %}">
                            <td colspan="7">{{ globalsearch_noresults_text_txt }}</td>
                        </tr>
                    </tmpl_unless>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">{{ paging }}</td>
                    </tr>
                </tfoot>
            </table>
</div>
