            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">{{ sortprio_txt }}</label>
                <div class="col-sm-9"><input type="number" name="sortprio" id="sortprio" x-tooltip.placement.top.html.raw="{{ sortprio_long_txt }}" value="{{ sortprio }}" class="form-control" /></div>
            </div>

        <input type="hidden" name="id" value="{{ id }}">

        {% render '../components/form-submit-buttons', cancel_load_content: 'admin/server_php_list.php', save_form_action: 'admin/server_php_edit.php' %}
