<div class="alert alert-info"><h4 style="text-align:center">{{ config_for_txt }} {{ server_name }}</h4></div>


        <legend>Rescue</legend>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ try_rescue_txt }}</label>
                <div class="col-sm-9">
                    {{ try_rescue }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ do_not_try_rescue_httpd_txt }}</label>
                <div class="col-sm-9">
                    {{ do_not_try_rescue_httpd }}
                </div>
            </div>
<!--
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ do_not_try_rescue_mongodb_txt }}</label>
                <div class="col-sm-9">
                    {{ do_not_try_rescue_mongodb }}
                </div>
            </div>
-->
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ do_not_try_rescue_mysql_txt }}</label>
                <div class="col-sm-9">
                    {{ do_not_try_rescue_mysql }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ do_not_try_rescue_mail_txt }}</label>
                <div class="col-sm-9">
                    {{ do_not_try_rescue_mail }}
                </div>
            </div>


        <div class="alert alert-warning">{{ rescue_description_txt }}</div>

            <input type="hidden" name="id" value="{{ id }}">

            <div class="clear"><div class="right">
                <button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="admin/server_config_edit.php">{{ btn_save_txt }}</button>
                <button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="admin/server_config_list.php">{{ btn_cancel_txt }}</button>
            </div></div>
