            <div class="form-group">
                <label for="server_name" class="col-sm-3 control-label">{{ server_name_txt }}</label>
                <div class="col-sm-9"><input type="text" name="server_name" id="server_name" value="{{ server_name }}" class="form-control" /></div></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ mail_server_txt }}</label>
                <div class="col-sm-9">
                    {{ mail_server }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ web_server_txt }}</label>
                <div class="col-sm-9">
                    {{ web_server }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ dns_server_txt }}</label>
                <div class="col-sm-9">
                    {{ dns_server }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ file_server_txt }}</label>
                <div class="col-sm-9">
                    {{ file_server }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ db_server_txt }}</label>
                <div class="col-sm-9">
                    {{ db_server }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ vserver_server_txt }}</label>
                <div class="col-sm-9">
                    {{ vserver_server }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ xmpp_server_txt }}</label>
                <div class="col-sm-9">
                    {{ xmpp_server }}
                </div>
            </div>
			 <tmpl_if name="id" op="!=" value="1">
	            <div class="form-group">
    	            <label for="mirror_server_id" class="col-sm-3 control-label">{{ mirror_server_id_txt }}</label>
        	        <div class="col-sm-9"><select name="mirror_server_id" id="server_id" class="form-control">
            	        {{ mirror_server_id }}
                	</select></div>
	            </div>
			</tmpl_if>
            <div class="form-group">
                <label for="active" class="col-sm-3 control-label">{{ active_txt }}</label>
                <div class="col-sm-9"><select name="active" id="active" class="form-control">
                    {{ active }}
                </select></div>
            </div>
        
            
        <input type="hidden" name="id" value="{{ id }}">
            
        <div class="clear"><div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="admin/server_edit.php">{{ btn_save_txt }}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="admin/server_list.php">{{ btn_cancel_txt }}</button>
        </div></div>
