{% render '../components/h2', slot: '{{ list_head_txt }}' %}
<p>{{ list_desc_txt }}</p>

<div class="panel panel_system_config">

    <div class="pnl_formsarea">
        <fieldset class="inlineLabels"><legend>{{ branding_txt }}Branding</legend>
            <div class="ctrlHolder">
                <p class="label">{{ allow_themechange_txt }}Allow users to change theme</p>
                <div class="multiField">
                    {{ allow_themechange }}
                </div>
            </div>
        </fieldset>
        <input type="hidden" name="id" value="{{ id }}">
        <div class="buttonHolder buttons">
            <button class="positive iconstxt icoPositive" type="button" value="{{ btn_save_txt }}" onClick="ISPConfig.submitForm('pageForm','admin/system_config_edit.php');"><span>{{ btn_save_txt }}</span></button>
            <button class="negative iconstxt icoNegative" type="button" value="{{ btn_cancel_txt }}" data-load-content="admin/server_list.php"><span>{{ btn_cancel_txt }}</span></button>
        </div>
    </div>

</div>
