{% meta {
    "isChildOnly": true,
    "defaults": {
        "id": "",
        "class": ""
    }
} %}
<div class="{{ class }} alert bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative mb-5"
        id="{{ id }}"
        role="alert"
        {% render './util/merge-attributes' %}>
        <span class="block sm:inline">{{ slot }}</span>
</div>
