{% if config_error_msg %}
  <div class="alert alert-danger">
    <p>
      {{ configuration_error_txt }}
        <div>
          <div style="float:left;width:150px;">{{ config_error_tstamp }} :&nbsp;</div>
          <div style="padding-left:150px;">{{ config_error_msg }}</div>
        </div>
    </p>
  </div>
{% endif %}
{% if is_admin %}
  <div class="form-group">
    {% if edit_disabled %}
      <label for="server_id_disabled" class="col-sm-3 control-label">{{ server_id_txt }}</label>
      <div class="col-sm-9"><select name="server_id_disabled" id="server_id_disabled" class="form-control" disabled="disabled">
          {{ server_id }}
        </select>
      </div>
      <input type="hidden" name="server_id" value="{{ server_id_value }}" />
      {% else %}
        <label for="server_id" class="col-sm-3 control-label">{{ server_id_txt }}</label>
        <div class="col-sm-9"><select name="server_id" id="server_id" class="form-control">
            {{ server_id }}
          </select>
        </div>
    {% endif %}
  </div>
  <tmpl_unless name="domain_option">
    <div class="form-group">
      <label for="client_group_id" class="col-sm-3 control-label">{{ client_txt }}</label>
      <div class="col-sm-9"><select name="client_group_id" id="client_group_id" class="form-control">
          {{ client_group_id }}
        </select>
      </div>
    </div>
  </tmpl_unless>
  {% else %}
    {% if only_one_server %}
      <input type="hidden" id="server_id" name="server_id" value="{{ server_id_value }}" />
      {% else %}
        <div class="form-group">
          {% if edit_disabled %}
            <label for="server_id_disabled" class="col-sm-3 control-label">{{ server_id_txt }}</label>
            <div class="col-sm-9"><select name="server_id_disabled" id="server_id_disabled" class="form-control" disabled="disabled">
                {{ client_server_id }}
              </select>
            </div>
            <input type="hidden" name="server_id" value="{{ server_id_value }}" />
            {% else %}
              <label for="server_id" class="col-sm-3 control-label">{{ server_id_txt }}</label>
              <div class="col-sm-9"><select name="server_id" id="server_id" class="form-control">
                  {{ client_server_id }}
                </select>
              </div>
          {% endif %}
        </div>
    {% endif %}
{% endif %}
{% if is_reseller %}
  <tmpl_unless name="domain_option">
    <div class="form-group">
      <label for="client_group_id" class="col-sm-3 control-label">{{ client_txt }}</label>
      <div class="col-sm-9"><select name="client_group_id" id="client_group_id" class="form-control">
          {{ client_group_id }}
        </select>
      </div>
    </div>
  </tmpl_unless>
{% endif %}
<div class="form-group">
  <label for="origin" class="col-sm-3 control-label">{{ origin_txt }}</label>
  {% if domain_option %}
    <div class="col-sm-9">
      <select name="origin" id="origin" class="form-control">
        {{ domain_option }}
      </select>
      <p class="formHint">{{ eg_domain_tld }}</p>
    </div>
    {% else %}
      <div class="col-sm-9">
        <input type="text" name="origin" id="origin" value="{{ origin }}" class="form-control" />
        <p class="formHint">{{ eg_domain_tld }}</p>
      </div>
  {% endif %}
</div>
<div class="form-group">
  <label for="ns" class="col-sm-3 control-label">{{ ns_txt }}</label>
  <div class="col-sm-9">
    <input type="text" name="ns" id="ns" value="{{ ns }}" class="form-control" />
    <p class="formHint">{{ eg_ns1_domain_tld }}</p>
  </div>
</div>
<div class="form-group">
  <label for="mbox" class="col-sm-3 control-label">{{ mbox_txt }}</label>
  <div class="col-sm-9">
    <input type="text" name="mbox" id="mbox" value="{{ mbox }}" class="form-control" />
    <p class="formHint">{{ eg_webmaster_domain_tld }}</p>
  </div>
</div>
<div class="form-group">
  <label for="refresh" class="col-sm-3 control-label">{{ refresh_txt }}</label>
  <div class="col-sm-6"><input type="text" name="refresh" id="refresh" value="{{ refresh }}" class="form-control" /></div>
  <div class="col-sm-3 input-sm">&nbsp;{{ seconds_txt }}
  </div>
</div>
<div class="form-group">
  <label for="retry" class="col-sm-3 control-label">{{ retry_txt }}</label>
  <div class="col-sm-6"><input type="text" name="retry" id="retry" value="{{ retry }}" class="form-control" /></div>
  <div class="col-sm-3 input-sm">&nbsp;{{ seconds_txt }}
  </div>
</div>
<div class="form-group">
  <label for="expire" class="col-sm-3 control-label">{{ expire_txt }}</label>
  <div class="col-sm-6"><input type="text" name="expire" id="expire" value="{{ expire }}" class="form-control" /></div>
  <div class="col-sm-3 input-sm">&nbsp;{{ seconds_txt }}
  </div>
</div>
<div class="form-group">
  <label for="minimum" class="col-sm-3 control-label">{{ minimum_txt }}</label>
  <div class="col-sm-6"><input type="text" name="minimum" id="minimum" value="{{ minimum }}" class="form-control" /></div>
  <div class="col-sm-3 input-sm">&nbsp;{{ seconds_txt }}
  </div>
</div>
<div class="form-group">
  <label for="ttl" class="col-sm-3 control-label">{{ ttl_txt }}</label>
  <div class="col-sm-6"><input type="text" name="ttl" id="ttl" value="{{ ttl }}" class="form-control" /></div>
  <div class="col-sm-3 input-sm">&nbsp;{{ seconds_txt }}
  </div>
</div>
<div class="form-group">
  <label for="xfer" class="col-sm-3 control-label">{{ xfer_txt }}</label>
  <div class="col-sm-9"><input type="text" name="xfer" id="xfer" value="{{ xfer }}" class="form-control" /></div>
</div>
<div class="form-group">
  <label for="also_notify" class="col-sm-3 control-label">{{ also_notify_txt }}</label>
  <div class="col-sm-9"><input type="text" name="also_notify" id="also_notify" value="{{ also_notify }}" class="form-control" /></div>
</div>
{% if is_admin %}
  <div class="form-group">
    <label for="update_acl" class="col-sm-3 control-label">{{ update_acl_txt }}</label>
    <div class="col-sm-9"><input type="text" name="update_acl" id="update_acl" value="{{ update_acl }}" class="form-control" /></div>
  </div>
{% endif %}
<div class="form-group">
  <label for="serial" class="col-sm-3 control-label">{{ serial_txt }}</label>
  <div class="col-sm-9"><textarea readonly="true" rows="1" id="serial" name="serial" class="form-control">{{ serial }}</textarea></div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label">{{ active_txt }}</label>
  <div class="col-sm-9">
    {{ active }}
  </div>
</div>
{% if show_dnssec %}
  <div class="form-group">
    <label class="col-sm-3 control-label">{{ dnssec_wanted_txt }}</label>
    <div class="col-sm-9">
      {{ dnssec_wanted }}<br /><small>({{ dnssec_wanted_info }})</small>
    </div>
  </div>
  <div class="form-group">
    <label for="dnssec_algo" class="col-sm-3 control-label">{{ dnssec_algo_txt }}</label>
    <div class="col-sm-9">
      {{ dnssec_algo }}
    </div>
  </div>
  <div class="form-group">
    <label for="update_acl" class="col-sm-3 control-label">{{ dnssec_info_txt }}</label>
    <div class="col-sm-9"><textarea readonly="true" rows="5" id="dnssec_info" name="dnssec_info" class="form-control">{{ dnssec_info }}</textarea></div>
  </div>
{% endif %}
<input type="hidden" name="id" value="{{ id }}">
<input name="serial" type="hidden" value="{{ serial }}">
<div class="clear">
  <div class="right">
    <button class="btn btn-default formbutton-success" type="button" value="{{ btn_save_txt }}" data-submit-form="pageForm" data-form-action="dns/dns_soa_edit.php">{{ btn_save_txt }}</button>
    <button class="btn btn-default formbutton-default" type="button" value="{{ btn_cancel_txt }}" data-load-content="dns/dns_soa_list.php">{{ btn_cancel_txt }}</button>
  </div>
</div>
<script language="JavaScript" type="text/javascript">
  jQuery('#xfer').ispconfigSearch({
    dataSrc: '/dns/ajax_get_json.php?type=get_ipv4',
    resultsLimit: '$ {{ globalsearch_resultslimit_of_txt }} % {{ globalsearch_resultslimit_results_txt }}',
    ResultsTextPrefix: '{{ globalsearch_suggestions_text_txt }}',
    noResultsText: '{{ globalsearch_noresults_text_txt }}',
    noResultsLimit: '{{ globalsearch_noresults_limit_txt }}',
    minChars: 0,
    cssPrefix: 'df-',
    fillSearchField: true,
    fillSearchFieldWith: 'fill_text',
    searchFieldWatermark: '',
    resultBoxPosition: ''
  });
  jQuery('#also_notify').ispconfigSearch({
    dataSrc: '/dns/ajax_get_json.php?type=get_ipv4',
    resultsLimit: '$ {{ globalsearch_resultslimit_of_txt }} % {{ globalsearch_resultslimit_results_txt }}',
    ResultsTextPrefix: '{{ globalsearch_suggestions_text_txt }}',
    noResultsText: '{{ globalsearch_noresults_text_txt }}',
    noResultsLimit: '{{ globalsearch_noresults_limit_txt }}',
    minChars: 0,
    cssPrefix: 'df-',
    fillSearchField: true,
    fillSearchFieldWith: 'fill_text',
    searchFieldWatermark: '',
    resultBoxPosition: ''
  });
  jQuery('#dnssec_wanted').on('click', function(event) {
    if ($(this).is(':checked')) {
      return;
    }

    if (window.confirm('{{ dnssec_wanted_info }}')) {
      return;
    }

    event.preventDefault();
  });
</script>
