<div class='page-header'>
	<h1 class="text-4xl pb-4 border-b">{{ list_head_txt }}</h1>
</div>
<p>{{ list_desc_txt }}</p>


        <tmpl_if name='datalog_changes_count' op='>' value='0'>
        <div>
            <div class="systemmonitor-state state-info">
                <div class="status"></div>
                <div class="statusMsg">
                    {{ datalog_changes_txt }}
                    <ul>
                    {% for datalog_changes %}
                        <li><strong>{{ text }}:</strong> {{ count }}</li>
                    {% endfor %}
                    </ul>
                    {{ datalog_changes_end_txt }}
                </div>
            </div><br />
        </div>
        </tmpl_if>
        <p class="fieldset-legend">{{ toolsarea_head_txt }}</p>
            
                <button class="btn btn-default formbutton-success" type="button" data-load-content="dns/dns_slave_edit.php">{{ add_new_record_txt }}</button>
            
        

    
        <p class="fieldset-legend">{{ list_head_txt }}</p>
            <div class="table-wrapper marginTop15">
<table class='table w-full'>
                <thead class="dark">
                <tr>
                    <th class="tiny-col" data-column="active">{{ active_txt }}</th>
					<th data-column="sys_groupid">{{ sys_groupid_txt }}</th>
                    <th data-column="server_id">{{ server_id_txt }}</th>
                    <th data-column="origin">{{ origin_txt }}</th>
                    <th data-column="ns">{{ ns_txt }}</th>
                    <th class="small-col text-right">{{ search_limit }}</th>
                </tr>
                <tr>
                    <td><select class="form-control" name="search_active">{{ search_active }}</select></td>
					<td><select class="form-control" name="search_sys_groupid">{{ search_sys_groupid }}</select></td>
                    <td><select class="form-control" name="search_server_id">{{ search_server_id }}</select></td>
                    <td><input class="form-control" type="text" name="search_origin" value="{{ search_origin }}" /></td>
                    <td><input class="form-control" type="text" name="search_ns" value="{{ search_ns }}" /></td>
                    <td class="text-right">
                        <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{{ filter_txt }}" data-submit-form="pageForm" data-form-action="dns/dns_slave_list.php"><span class="icon icon-filter"></span></button>
                    </td>
                </tr>
                </thead>
                <tbody>
                {% for records %}
                    <tr>
                        <td><a href="#" data-load-content="dns/dns_slave_edit.php?id={{ id }}">{{ active }}</a></td>
						<td><a href="#" data-load-content="dns/dns_slave_edit.php?id={{ id }}">{{ sys_groupid }}</a></td>
                        <td><a href="#" data-load-content="dns/dns_slave_edit.php?id={{ id }}">{{ server_id }}</a></td>
                        <td><a href="#" data-load-content="dns/dns_slave_edit.php?id={{ id }}">{{ origin }}</a></td>
                        <td><a href="#" data-load-content="dns/dns_slave_edit.php?id={{ id }}">{{ ns }}</a></td>
                        <td class="text-right">
                            <a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('dns/dns_slave_del.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span class="icon icon-delete"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                <tmpl_unless name="records">
                    <tr class="tbl_row_noresults tbl_row_<tmpl_if name='__EVEN__'}even<tmpl_else>uneven</tmpl_if>">
                        <td colspan="6">{{ globalsearch_noresults_text_txt }}</td>
                    </tr>
                </tmpl_unless>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6">{{ paging }}</td>
                </tr>
                </tfoot>
            </table>
</div>
        
    