{% meta { "isChildOnly": true } %}
{% render './group-start' %}
    {% render './label', slot: '{{ label }}' %}
    <div class="w-7/12">
        {% render './password' %}
    </div>
    <div class="w-2/12">
        {% render '../button/generate-password', password: '{{ name }}' %}
    </div>
{% render './group-end' %}
