{% meta { "isChildOnly": true } %}
{% render './group-start' %}
    {% render './label', slot: '{{ label }}' %}
    <div class="w-9/12">
        {% render './select' %}
    </div>
{% render './group-end' %}
