<div class='page-header'>
	<h1 class="text-4xl pb-4 border-b">{{ list_head_txt }}</h1>
</div>


        <p class="fieldset-legend">{{ toolsarea_head_txt }}</p>
            
                <button class="btn btn-default formbutton-success" type="button" data-load-content="vm/openvz_vm_edit.php">{{ add_new_record_txt }}</button>
            
        

    
        <p class="fieldset-legend">{{ list_head_txt }}</p>
            <div class="table-wrapper marginTop15">
<table class='table w-full'>
                <thead class="dark">
                    <tr>
                        <th data-column="veid">{{ veid_txt }}</th>
                        <th class="tiny-col" data-column="active">{{ active_txt }}</th>
                        <th data-column="server_id">{{ server_id_txt }}</th>
                        <th data-column="ostemplate_id">{{ ostemplate_id_txt }}</th>
                        <th data-column="template_id">{{ template_id_txt }}</th>
                        <th data-column="hostname">{{ hostname_txt }}</th>
                        <th data-column="ip_address">{{ ip_address_txt }}</th>
                        <th class="small-col text-right">{{ search_limit }}</th>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" name="search_veid" value="{{ search_veid }}" /></td>
                        <td><select class="form-control" name="search_active">{{ search_active }}</select></td>
                        <td><select class="form-control" name="search_server_id">{{ search_server_id }}</select></td>
                        <td><select class="form-control" name="search_ostemplate_id">{{ search_ostemplate_id }}</select></td>
                        <td><select class="form-control" name="search_template_id">{{ search_template_id }}</select></td>
                        <td><input class="form-control" type="text" name="search_hostname" value="{{ search_hostname }}" /></td>
                        <td><input class="form-control" type="text" name="search_ip_address" value="{{ search_ip_address }}" /></td>
                        <td class="text-right">
                            <button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter" value="{{ filter_txt }}" data-submit-form="pageForm" data-form-action="vm/openvz_vm_list.php"><span class="icon icon-filter"></span></button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for records %}
                        <tr>
                            <td><a href="#" data-load-content="vm/openvz_vm_edit.php?id={{ id }}">{{ veid }}</a></td>
                            <td><a href="#" data-load-content="vm/openvz_vm_edit.php?id={{ id }}">{{ active }}</a></td>
                            <td><a href="#" data-load-content="vm/openvz_vm_edit.php?id={{ id }}">{{ server_id }}</a></td>
                            <td><a href="#" data-load-content="vm/openvz_vm_edit.php?id={{ id }}">{{ ostemplate_id }}</a></td>
                            <td><a href="#" data-load-content="vm/openvz_vm_edit.php?id={{ id }}">{{ template_id }}</a></td>
                            <td><a href="#" data-load-content="vm/openvz_vm_edit.php?id={{ id }}">{{ hostname }}</a></td>
                            <td><a href="#" data-load-content="vm/openvz_vm_edit.php?id={{ id }}">{{ ip_address }}</a></td>
                            <td class="text-right">
                                <a class="btn btn-default formbutton-default formbutton-narrow" data-load-content="vm/openvz_action.php?id={{ id }}"><span class="icon icon-action"></span></a>
                                <a class="btn btn-default formbutton-danger formbutton-narrow" href="javascript: ISPConfig.confirm_action('vm/openvz_vm_del.php?id={{ id }}&_csrf_id={{ csrf_id }}&_csrf_key={{ csrf_key }}&phpsessid={{ phpsessid }}','{{ delete_confirmation }}');"><span class="icon icon-delete"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% unless records %}
                        <tr class="tbl_row_noresults tbl_row_{% if __EVEN__ %}even{% else %}uneven{% endif %}">
                            <td colspan="8">{{ globalsearch_noresults_text_txt }}</td>
                        </tr>
                    {% endunless %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8">{{ paging }}</td>
                    </tr>
                </tfoot>
            </table>
</div>
        
    