<div class='page-header'></div>
<p>{{ list_desc_txt }}</p>

<legend>Additional IPs</legend>

<div class="form-group">
	<div class="col-sm-3">
		{{ additional_ip }}
	</div>
</div>

<input type="hidden" name="id" value="{{ id }}">

{% render '../components/form-submit-buttons', cancel_load_content: 'vm/openvz_vm_list.php', save_form_action: 'vm/openvz_vm_edit.php' %}


